docling
langchain-google-genai
langchain-huggingface
langchain-qdrant
langchain-docling
qdrant-client
langchain-community
pydantic
pathlib
uvicorn
sentence-transformers
pypdf
ragas
unstructured[all-docs]
langchain-text-splitters
langchain-experimental
semantic_router
seaborn